//- variable
-var menu = {'Home': ['/','home'], 'Sobre Mi': ['/godofredo', 'user'], 'Servicios': ['/servicios','services'],'Procesos':['/procesos','proces'],'Portafolio':['portafolio','porfolio'],'Blog':['//blog.godofredo.ninja','blog'],'Contact': ['contacto','message'] };

.Divider.Head-divider
    span.red
    span.blue
    span.green
    span.yellow

aside.AsideTop
    .u-wrapper
        ul.AsideTop-social
            li.AsideTop-socialItem.Twitter
                a.twitter-follow-button(href='https://twitter.com/GodoFredoNinja') Follow @GodoFredoNinja
            li.AsideTop-socialItem.Facebook
                .fb-like(data-href='https://www.facebook.com/godofredo.ninja', data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
        .AsideTop-phone
            span.icon-mobile 985369135
            span.icon-phone 01 7226418
header.Header
    .u-wrapper

        if selectedMenu === "Home"
            h1.Header-logo
                //- Mixin Home H1
                +HomeH
        else
            .Header-logo
                +HomeH

        label.Header-iconMobile.icon-menu(for="MainMenu-callback")
        input(type="checkbox")#MainMenu-callback.MainMenu-callback.u-inputNone
        nav.MainMenu
            ul.MainMenu-list
                each data, name in menu
                    li.MainMenu-item
                        if selectedMenu === name
                            a(href=data[0], class="MainMenu-link active")
                                i(class="icon-#{data[1]}")
                                span= name
                        else
                            a(href=data[0], class="MainMenu-link")
                                i(class="icon-#{data[1]}")
                                span= name
